---
import LayoutPage from '../../layouts/LayoutPage.astro'
import DATA from '../../../information.json'
const {
  venue: { tag, title, background },
} = DATA
---

<LayoutPage title={title} background={background} tag={tag}>
  <main>Venue</main>
</LayoutPage>
