---
import LayoutPage from '../../../layouts/LayoutPage.astro'
import DATA from '../../../../information.json'
const {
  'organizing-committee': { tag, title, background },
} = DATA
---

<LayoutPage title={title} background={background} tag={tag}>
  <main>asda</main>
</LayoutPage>
