---
import SocialLinks from '../components/SocialLinks.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Speakers from '../components/Speakers.astro'
import Counters from '../components/Counters.astro'
import Wrapper from '../components/Wrapper.astro'
---

<Layout title="Welcome to Astro.">
  <SocialLinks />
  <Hero />
  <main>
    <About />
    <Counters />
    <Speakers />
    <Wrapper>
      <section>Dates</section>
    </Wrapper>
    <Wrapper>
      <section>Papers</section>
    </Wrapper>
    <Wrapper>
      <section>Entidades</section>
    </Wrapper>
    <Wrapper>
      <section>Testimonials</section>
    </Wrapper>
    <Wrapper>
      <section>CTA</section>
    </Wrapper>
    <Wrapper>
      <section>Contact us</section>
    </Wrapper>
  </main>
</Layout>
