---
import SocialLinks from '../components/SocialLinks.astro'
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import About from '../components/About.astro'
import Speakers from '../components/Speakers.astro'
import Entidades from '../components/Entidades.astro'
import Testimonial from '../components/Testimonial.astro'
import Counters from '../components/Counters.astro'
import CTA2 from '../components/CTA_2.astro'
import CTA from '../components/CTA.astro'
import Dates from '../components/Dates.astro'
import Wrapper from '../components/Wrapper.astro'
import Footer from '../components/Footer.astro'
import ContactUs from '../components/ContactUs.astro'
---

<Layout title="SIMBig24 - Home">
  <SocialLinks />
  <Hero />
  <main>
    <About />
    <Counters />
    <Speakers />
    <CTA2 />
    <Dates />

    <Entidades />
    <Testimonial />
    <CTA />
    <ContactUs />
    <Footer />
  </main>
</Layout>
