---
import Wrapper from '../components/Wrapper.astro'
---

<Wrapper>
  <section class="py-20">
    <h2 class="text-center md:text-5xl font-bold mb-12 text-3xl">
      Proceedings of SIMBig 2024
    </h2>
    <div class="flex justify-center items-center">
      <a
        href="https://link.springer.com/book/10.1007/978-3-031-63616-5"
        target="_blank"
      >
        <img
          class="shadow-lg rounded-md overflow-hidden sm:h-40"
          src={`${import.meta.env.PROD ? '/SIMBig2024' : ''}${'/assets/images/books/proceedings.webp'}`}
          alt="Information Management and Big Data 10th Annual International Conference, SIMBig 2024, Ilo, Moquegua, November 20 - 22, 2024, Proceedings"
        />
      </a>
    </div>
  </section>
</Wrapper>
