---
import Wrapper from '../components/Wrapper.astro'
---

<Wrapper>
  <section class="py-20">
    <h2 class="text-center md:text-5xl font-bold mb-12 text-3xl">
      Proceedings of SIMBig 2024
    </h2>
    <div>
      <a
        href="https://link.springer.com/book/10.1007/978-3-031-63616-5"
        target="_blank"
      >
        <img
          class="mx-auto shadow-lg rounded-md overflow-hidden"
          src="/assets/images/books/proceedings.jpg"
          alt="Information Management and Big Data 10th Annual International Conference, SIMBig 2023, Mexico City, Mexico, December 13–15, 2023, Proceedings"
        />
      </a>
    </div>
  </section>
</Wrapper>
