---
import Wrapper from '../components/Wrapper.astro'
import DATA from '../../information.json'
const {
  cta2: { title },
} = DATA
---

<Wrapper>
  <section class="rounded-3xl p-8 text-white bg-bg my-10">
    <div class="flex flex-col justify-center py-10">
      <h2 class="text-3xl md:text-4xl font-semibold text-center">{title}</h2>
    </div>
  </section>
</Wrapper>
