---
import Wrapper from '../components/Wrapper.astro'
import DATA from '../../information.json'
const {
  dates: { title, paragraph, content },
} = DATA
---

<section class="py-20">
  <Wrapper>
    <h2 class="text-center md:text-5xl font-bold mb-2 text-3xl">{title}</h2>
    <p class="text-center text-black/80 mb-6">{paragraph}</p>
    <div class="flex flex-col items-center gap-6">
      <hr class="min-w-full md:min-w-[500px]" />
      {
        content.map(item => (
          <>
            <div>
              <div class="text-xl md:text-lg font-semibold flex flex-col items-center">
                <p class="text-primary text-xl">{item.date}</p>
                <h4 class="text-lg font-medium text-center text-black/70 max-w-[400px]">
                  {item.name}
                </h4>
              </div>
            </div>
            <hr class="min-w-full md:min-w-[500px]" />
          </>
        ))
      }
    </div>
  </Wrapper>
</section>
