---
import DATA from '../../information.json'
import Navbar from './Navbar.astro'

const {
  hero: { background, title, paragraph, date },
} = DATA
---

<header class="min-h-[100svh] relative bg-black/30 text-white">
  <img
    src={background}
    alt="hero background simbig"
    class="h-full w-full absolute -z-10 top-0 left-0 object-cover contrast-150"
  />
  <Navbar />
  <section class="h-[calc(100svh-80px)]">
    <div class="w-full max-w-7xl mx-auto h-full">
      <div class="flex h-full justify-center">
        <div class="flex flex-col gap-4 justify-center items-center">
          <p class="text-balance max-w-[400px] text-center font-semibold">
            [{date}]
          </p>
          <h1 class="font-bold text-5xl md:text-8xl text-center md:text-left">
            {title}
          </h1>
          <p class="text-white/80 text-lg text-center max-w-[500px]">
            {paragraph}
          </p>
          <div class="flex items-end justify-center z-10">
            <div class="m-2 sm:m-5 flex flex-col items-center">
              <span
                class="text-white font-bold text-3xl sm:text-5xl tabular-nums"
                id="days">--</span
              >
              <p>Days</p>
            </div>
            <div class="m-2 sm:m-5 flex flex-col items-center">
              <span
                class="text-white font-bold text-3xl sm:text-5xl tabular-nums"
                id="hours"
              >
                --</span
              >
              <p>Hours</p>
            </div>
            <div class="m-2 sm:m-5 flex flex-col items-center">
              <span
                class="text-white font-bold text-3xl sm:text-5xl tabular-nums"
                id="minutes">--</span
              >
              <p>Minutes</p>
            </div>
            <div class="m-2 sm:m-5 flex flex-col items-center">
              <span
                class="text-white font-bold text-3xl sm:text-5xl tabular-nums"
                id="seconds">--</span
              >
              <p>Seconds</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
<script src="/assets/js/Counterdown.js" is:inline></script>
