---
import Wrapper from './Wrapper.astro'
---

<nav>
  <Wrapper>
    <div class="h-20 flex justify-between items-center">
      <a href="/">LOGO</a>
      <div class="flex items-center gap-2"></div>
    </div>
  </Wrapper>
</nav>
