---
import Wrapper from './Wrapper.astro'
---

<section class="py-20" id="dates">
  <Wrapper>
    <h2 class="text-center md:text-5xl font-bold mb-8 text-3xl">
      Travel grants
    </h2>

    <p class="text-center text-black/80">
      Thanks to the <a
        class="text-primary font-bold"
        href="https://aij.ijcai.org/"
        >Artificial Intelligence Journal - AIJ
      </a> and <a
        class="text-primary font-bold"
        href="https://www.linkedin.com/in/john-franco-rojas-258468a9/"
        >John Franco Rojas</a
      > support, SIMBig 2024 is offering six travel awards for authors attending
      the conference
    </p>
  </Wrapper>
</section>
