---
import LayoutPage from '../../../layouts/LayoutPage.astro'
import DATA from '../../../../information.json'
import Wrapper from '../../../components/Wrapper.astro'
import FormRegister from '../../../components/FormRegister'
const {
  'registration-page': { tag, title, background },
} = DATA
---

<LayoutPage title={title} background={background} tag={tag}>
  <main class="pb-20 pt-2">
    <Wrapper>
      <FormRegister client:load />
    </Wrapper>
  </main>
</LayoutPage>
