---
import Navbar from '../components/Navbar.astro'
import SEO from '../components/SEO.astro'
import '../styles/base.css'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.PROD ? '/SIMBig2024' : ''}${'/favicon.svg'}`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <SEO title={title} />
  </head>
  <body class="min-h-screen antialiased">
    <slot />
    <style is:global>
      html {
        scrollbar-width: thin;
      }
      body {
        font-family: 'Poppins';
      }
      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 100;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Thin.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 200;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-ExtraLight.ttf)
          format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 300;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Light.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Regular.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Medium.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-SemiBold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Bold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-ExtraBold.ttf) format('truetype');
      }

      @font-face {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 900;
        font-display: block;
        src: url(/assets/fonts/poppins/Poppins-Black.ttf) format('truetype');
      }
    </style>
  </body>
</html>
